/*--- FLEX CONTAINERS ---*/

@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin justify-space-around {
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}

@mixin justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin align-items-center {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

@mixin align-items-end {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

@mixin align-items-start {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

@mixin align-content-center {
  -ms-flex-line-pack: center;
  -ms-align-content: center;
  align-content: center;
}

@mixin align-content-start {
  -ms-flex-line-pack: start;
  -ms-align-content: start;
  align-content: flex-start;
}

@mixin align-content-between {
  -ms-flex-line-pack: justify;
  -ms-align-content: justify;
  align-content: space-between;
}

@mixin align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

// RotateS, scaleY, translateY 

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

// EXAMPLE
// .box { 
//   @include transform(rotate(315deg));
// }


  // TransitionS
  @mixin transition-5s {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    
  }

  @mixin transition-25s {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  @mixin transition-2s {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  @mixin transition-linear-2s {
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }

  @mixin fade-5s {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }


@mixin element-absolute-center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@mixin image-object-fit {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
}


@mixin fontawesome-font {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
}


@mixin scrop-snap-x {
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: x mandatory;
  -moz-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

@mixin required {
  display: inline-block !important;
  letter-spacing: 0.2px;
  font-weight: bold;
  line-height: 1.8 !important;
  border-radius: 28px;
  margin-bottom: 0.5rem;
  color: #fff !important;
  background-color: #ffabab;
  border: 2px solid #c74747;

  background-color: #c11919;
  border: 2px solid #ff8282;
  padding: 0 36px !important;
}