
// font Family

$bernardo-font-family: 'bernardo_moda_boldregular', sans-serif;

$default-font-family: 'proxima-nova', sans-serif;

// $handlee-font-family: 'Handlee', 'cursive';

$coniferous-font-family: coniferous, sans-serif;

$sans-serif-font-family: 'Open Sans', sans-serif;

$main-wrapper-bg: #fdfdfd;

// Colors

$color-black: #000000;
$color-white: #ffffff;

$color-dark-violet-0: #2A0357;
$color-dark-violet-1: #2D1338;
$color-dark-violet-2: #201131;
$color-dark-violet-3: #1C0D2D;

$color-light-violet-1: #381319;
$color-light-violet-2: #71336c;
$color-light-violet-3: #c77bb7;

$color-lighter-violet-1: #F7F0FF;

$color-dark-green-1: #183B56;

$color-lighter-green-1: #5A7184;

$color-lighter-blue-1: #FAFDFF;






// font Sizes
$default-font-size: 20px;


// grid
$default-width: 85%;
$default-max-width: 1170px;

$spacing-horizontal: 2rem;