html.video-tutorials {

    .mr-header-scroll {
        display: none !important;
    }
}

.page-template-page-website-tutorials {

    #site-header,
    #contact-location,
    #mr-footer,
    #broadly-widget {
        display: none;
    }

    .header-container {
        display: none;
    }

    .bottom-cta-wrapper,
    .did-scroll #scroll-cta {
        display: none !important;
    }

}

.mr-row-columns.row-videos {
    width: 100%;
    max-width: 100%;
    @include justify-start;
    align-items: stretch;

    @include responsive(tablet-portrait){
        flex-direction: column;
    }

    .side-bar {
        padding: 3rem 0 6rem 5%;
        background-color: #f4f5f7;
        border-right: 1px solid #d4dce3;
        width: calc((100% - 2 * 10rem) / 3);

        @include responsive(desktop){
            padding: 4rem 0 6rem 2%;
        }

        @include responsive(very-small-desktop){
            width: calc((100% - 2 * 4rem) / 3);
        }

        @include responsive(tablet-portrait){
            width: 100%;
            padding: 4rem 5% 4rem;
        }

        .sidebar-scroll {
            margin-right: 0;
            padding: 0;
        }

        .website-logo {
            margin-bottom: 2.5rem;
            padding-right: 8%;
            width: 160px;
        }

        .mr-title {
            color: #356fda;
            font-size: 1rem;
            padding: 10px 10px 10px 15%;
            background-color: #ffffff;
            border: 1px solid #d4dce3;
            border-right: none;
            font-family: $default-font-family;
            font-size: 16px;

            @include responsive(tablet-portrait){
                border-right: 1px solid #c5c5c5;
            }
        }

        .no-list {
            list-style-type: decimal;
            padding: 25px 25px 0 20%;

            @include responsive(desktop){
                padding: 25px 25px 0 20%;
            }

            @include responsive(small-desktop){
                padding: 25px 25px 0 11%;
            }

            .no-list-item {
                margin-bottom: 10px;
                font-size: 16px;
                letter-spacing: 1px;
            }
        }

        .need-help {
            padding: 30% 8% 0 15%;

            @include responsive(desktop){
                padding: 2rem 10% 0 13%;
            }

            @include responsive(small-desktop){
                padding: 2rem 10% 0 4%;
            }

            h5 {
                margin: 0;
                font-size: 15px;
            }
            p, a {
                font-size: 15px;
                word-wrap: break-word;
            }
        }
    }


    .right-main-content {
        padding-right: 5%;
        padding: 6rem 0rem 6rem 4%;

        @include responsive(tablet-portrait){
            padding: 5rem 0rem 3rem 5%;
            width: 100%;
        }
    }
}



.video-items {
    @include flex-wrap;
    margin-right: 0;
    padding: 0 20px 0 0;

    @include responsive(tablet-portrait){
        overflow-y: auto;
        height: auto;
        padding: 0;
    }

    .video-item {
        width: 44%;
        margin: 0 6% 6% 0;

        @include responsive(small-phone-landscape){
            width: 100%;
            margin-bottom: 3rem;
        }

        h4 {
            font-weight: 400;
            margin-bottom: 20px;
            font-size: 18px;
        }
    }

    .vide-container {
        position: relative; 
        padding-bottom: 56.25%; 
        height: 0;

        iframe {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%;
        }
    }
}

.post-password-form {
    width: 100%;
    height: 100vh;
    padding: 3rem;
    background-color: #fafaf8;

    input[type="password"] {
        border-radius: 3px;
        padding: 5px 10px;
        border: 1px solid #d5d5d5;
    }

    input[type="submit"] {
        border-radius: 3px;
        padding: 5px 40px;
        color: #fafaf8;
        border: 1px solid #2a2a2a;
        background-color: #2a2a2a;
    }
}